[submodule "Plugins/OpenCV"]
	path = Plugins/OpenCV
	url = https://github.com/TheHugeManatee/OpenCV_Unreal.git
[submodule "Plugins/SIMPLE"]
	path = Plugins/SIMPLE
	url = https://github.com/TheHugeManatee/SIMPLE_Unreal.git
[submodule "Plugins/VolumeRaymarching"]
	path = Plugins/VolumeRaymarching
	url = https://github.com/TheHugeManatee/UE4_VolumeRaymarching.git
